body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./img/festival\ background\ imag.jpg");
    overflow: hidden;
}

.form {
    display: grid;
    height: 550px;
    width: 800px;
    background-color: #0d65e9d4;
    border-radius: 10px;
    grid-template-columns: 1fr  ;
    padding: 20px;
    justify-items: center;

    
}

.label,
h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    display: inline-block;
    color: white;
}

.input {
    height: 35px;
    width: 70%;
    border-radius: 5px;
    margin: 10px;
}

.btn {
    height: 30px;
    width: 80px;
    margin: 15px;
    display: inline;
    font-size: 16px;
    cursor: pointer;

}

@media only screen and (max-height: 380px){

    .form  {
    font-size: 15px;
    height: 350px;
    margin: 0;
    padding: 0;
     
}
  .input, .label  {
    font-size: 15px;
    margin: 0;padding: 0;
     
     
}  


}